{% extends '../layout.html' %}


{% block content %}
<div class="container">


  <div class="row">
    <div class="column">
      <h1>Sent</h1>
      <p><a href="{{page.root}}">Back</a></p>
    </div>
  </div>


  <div class="row tdrow">
  </div>
  {% for element in elements %}
  {% if element.sent %}
  <div class="row tdrow">
    <div class="column">{{element.unique_id}}  </div> 
    <div class="column">{{element.date_string}}</div> 
    <div class="column">{{element.name}}        </div>
    <div class="column">{{element.amount}}       </div>

    <div class="column"><a href="{{page.root}}/view/{{element.id}}">View</a>
    {% if element.pdf != '' %} 
     | <a href="{{element.pdf}}">Download</a>
    {% endif %}
    </div>
  </div>
  {% endif %}
  {% endfor %}



</div>
{% endblock %}