{% extends 'invoice_template.html' %}

{% block head %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>{{ title }}</title>
    
    <!-- CSS Reset -->
    <link rel="stylesheet" href="/stylesheets/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="/stylesheets/milligram.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/fonts.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sticky-footer.css">
    
{% endblock %}


{% block header %}
<header>
    <div class="container">
        <p>studio.5p2p.it</p>
    </div>
</header>

<div class="container">

    <a href="/test"><button type="submit">Back to Invoice List</button></a>
    <a href="/test/invoice/edit/{{invoice.id}}"><button type="submit">Edit</button></a>

    <div style="max-width: 60rem; padding: 3rem">
{% endblock %}

{% block footer %}
    </div>

    <a href="/test/invoice/send/{{invoice.id}}"><button type="submit">Email to {{invoice.email}}</button></a>
    <a href="/test/invoice/delete/{{invoice.id}}"><button type="submit">Delete</button></a>

</div>

    <footer class="footer">
      <div class="container">
        <p>Crafted with love by 5pani2pesci.</p>
      </div>
    </footer>

{% endblock %}