{% extends 'layout.html' %}


{% block content %}
<div class="container">

  <div class="row">
    <div class="column">
      <h1>New Invoice</h1>
      <p><a href="/test">Back to invoices</a></p>
    </div>
  </div>


<form method="post" action="/test/invoice/new">
  <fieldset>

    <label for="nameField">Name</label>
    <input type="text" name="name" id="nameField">

    <label for="nameField">Email</label>
    <input type="text" name="email" placeholder="name@mail.it" id="nameField">

    <label for="nameField">Invoice date</label>
    <input type="text" name="invoice_date_string" placeholder="dd/mm/yyyy" id="nameField">

    <label for="nameField">Lordo</label>
    <input type="text" name="lordo" placeholder="Euro" id="nameField">

    <label for="nameField">Street</label>
    <input type="text" name="street" id="nameField">

    <label for="nameField">Postal code</label>
    <input type="text" name="postal_code" id="nameField">

    <label for="nameField">City</label>
    <input type="text" name="city" id="nameField">

    <label for="nameField">Country</label>
    <input type="text" name="country" id="nameField">

    <input class="button-primary" type="submit" value="Send">

  </fieldset>
</form>



</div>
{% endblock %}