{% extends 'layout.html' %}


{% block content %}
<div class="container">

  <div class="row">
    <div class="column">
      <h1>Edit Invoice</h1>
      <p><a href="/test">Back to invoices</a></p>
    </div>
  </div>


<form method="post" action="/test/invoice/edit/{{invoice.id}}?_method=PUT">
  <fieldset>

    <label for="nameField">Invoice ID</label>
    <input type="text" name="invoice_id" value="{{invoice.invoice_id}}" id="nameField">

    <label for="nameField">Name</label>
    <input type="text" name="name" value="{{invoice.name}}" id="nameField">

    <label for="nameField">Email</label>
    <input type="text" name="email" value="{{invoice.email}}" id="nameField">

    <label for="nameField">Invoice date</label>
    <input type="text" name="invoice_date_string" value="{{invoice.invoice_date_string}}" name="" value="dd/mm/yyyy" id="nameField">

    <label for="nameField">Lordo</label>
    <input type="text" name="lordo" value="{{invoice.lordo}}" name="" value="Euro" id="nameField">

    <label for="nameField">Street</label>
    <input type="text" name="street" value="{{invoice.street}}" id="nameField">

    <label for="nameField">Postal code</label>
    <input type="text" name="postal_code" value="{{invoice.postal_code}}" id="nameField">

    <label for="nameField">City</label>
    <input type="text" name="city" value="{{invoice.city}}" id="nameField">

    <label for="nameField">Country</label>
    <input type="text" name="country" value="{{invoice.country}}" id="nameField">

    <input class="button" type="submit" value="Save">
    <input class="button button-outline" type="reset" value="Cancel">

  </fieldset>
</form>



</div>
{% endblock %}