{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="row">
  <hr><br>

  <h2>Invoices</h2>

  <div>
    <p><a href="/test/invoice/new">New Invoice</a></p>
    <p><a href="/test/invoice/sent">Sent Invoices</a></p>
  </div>

  <table class="table table-striped">
  {% for invoice in invoices %}
  {% if !invoice.sent %}
    <tr>
        <td>{{invoice.sent}}       </td>
        <td><div style="width:3rem"></div></td>
        <td>{{invoice.invoice_id}}  </td> 
        <td>{{invoice.name}}        </td>
        <td>{{invoice.invoice_date_string}}        </td> 
        <td>{{invoice.lordo}}       </td>
        <td><a href="/test/invoice/{{invoice.id}}">View</a></td>
        {% if invoice.pdf == '' %}
        <td>PDF not ready</td>
        {% else %}
        <td>PDF stuff</td>
        {% endif %}

    </tr>
  {% endif %}
  {% endfor %}
  </table>
</div>

{% endblock %}